/* ===== Reset e estilos gerais ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* ===== Centraliza títulos e parágrafos ===== */
h1, h2, h3, p {
  text-align: center;
  margin: 10px 20px;
}

/* ===== Tabela de totais ===== */
table {
  width: calc(100% - 40px); /* margem lateral 20px */
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  border-collapse: collapse;
  text-align: center;  /* centraliza todo o conteúdo das células */
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  width: 100px;
}

tr {
  font-size: 28px;
}

.mais-barato td {
  font-weight: bold;
  color: green;
}

/* ===== Lista de produtos ===== */
ul {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

ul li {
  background-color: #f9f9f9;
  margin-bottom: 8px;
  border-radius: 6px;
  height: 220px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Titulos em azul após tabela*/
small {
  color: blue;
  font-weight: bold;
  font-size: 24px;
}

li.item {
  display: flex;
  justify-content: space-between; /* nome à esquerda, preço à direita */
  align-items: center;        /* alinha ao centro */
  background-color: #f9f9f9;
  margin-botton: 8px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-bottom: 1px solid #555; /* linha cinza escuro */
  gap: 40px;
}

li.item:last-child {
  border-bottom: none; /* remove a linha do último */
}

strong {
  font-weight: bold;
  font-size: 50px;
  color: blue;
  overflow-wrap: break-word;     /* quebra palavras longas */
  flex: 1;
  min-width: 0;                  /* permite encolher sem empurrar o preço */
  overflow-wrap: break-word;
}

span.preco {
  font-weight: bold;
  font-size: 50px;
  color: red;
  white-space: nowrap;           /* impede o preço de quebrar */
  margin-left: auto;
  display: flex;
  align-itens: botton;     
  padding-top: 40px;
}
